.place__paragraph-two {
    font-family: 'inter';
    font-style: 'Regular';
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph-two {
        font-size: 16px;
    }
}

@media screen and (max-width: 660px) {
    .place__paragraph-two {
        font-family: 'inter';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 163%;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph-two {
        font-size: 16px;
        line-height: 163%;
    }
}