.cover {
    max-width: 1184px;
    min-width: 320px;
    background-image: url(../../images/__background\ \(1\).png);
    background-position: center;
    background-size: cover;
    min-height: 200px;
}